form{
    text-align: center;
    
}
h2{
    text-align: center;
    font-weight: bold;
}
body{
    background-image: url("https://st.depositphotos.com/1007168/2894/i/450/depositphotos_28949163-stock-illustration-smiling-pencil-holding-an-a.jpg");
    background-size: cover;
}